@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
    <br /><br />


    <!--linha de comentário-->
    @* e isto também é uma linha de comentário
        Este comentário não aparece no browser*@
    
<form>
    <table>
        <tr>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td><input type="submit" name="" value="7" />7</td>
        </tr>
    </table>
</form>







</div>
